@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Lexend&display=swap');

*{
    margin:0px;
    padding:0px;
}

h2, label {
    font-family: 'Lexend', sans-serif;
    color: white;
    margin: 0px 0px 0px 10px;
}

h2 {
    font-family: 'Lexend', sans-serif;
    font-size: 70px;
    max-width: 799px;
}

form {
    padding: 10px;
    padding: 0px;
}

.main-container, .input, .output {
    display: flex;
}

.main-container {
    justify-content: center;
    align-items: center;
    background-color: #191919;
    height: 100vh;
    margin: 0;
}

.inputs-container, .output-container {
    background-color: #252525;
}

.inputs-container {
    height: 800px;
    width: 450px;
    margin: 5px;
}

.output-container {
    height: 800px;
    width: 1000px;
    margin: 5px;
}

input {
    width: 95%;
    height: 41px;
    margin: 0px 10px 10px 10px;
}

button{
    font-family: "Lexend", sans-serif;
    color: white;
    background-color: transparent;
    width: 95%;
    height: 45px;
    margin: 10px 0px 0px 10px;
}

button:hover {
    background-color: #191919;
}
/*
.controls-nav {
    display: flex;
    border: 1px solid white;
    width: 95%;
    height: 41px;
    margin: 0px 10px 0px 10px;
}
*/

.centerOutputTable {
    display: flex;
    align-items: center;
    justify-content: center;
}

#outputTable {
    border-collapse: collapse;
    border: solid 1px white;
    margin: 0;
    padding: 0;
}

th, td {
    color: white;
}

/* Style for table headers */
th {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

/* Style for table cells */
td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}